<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/app.css}" />
    <title>giflib | Home</title>
</head>
<body>
    <h1>Home</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab, autem beatae doloribus ea harum iusto labore laborum laudantium, numquam placeat praesentium quam quasi sequi similique ullam ut voluptates voluptatum?</p>
    <img th:src="@{/gifs/compiler-bot.gif}" alt="logo" />
</body>
</html>
